.contentCreatorsMainDiv {
    margin: 0 auto;
}

.creators-header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 0 0 0 0;
}

.contentCreator {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.contentCreatorName {
    font-size: 30px;
    margin: 0 0 5px 0;
}

.videoArea {
    margin: 0 auto;
    width: 600px;
    height: 340px;
}

@media (max-width: 1921px) {
    .contentCreatorsMainDiv {
        width: 1248px;
    }
}

@media (max-width: 1281px) {
    .contentCreatorsMainDiv {
        width: 626px;
    }
    .contentCreator {
        display: block;
    }
}

@media (max-width: 650px) {
    .contentCreatorsMainDiv {
        width: 360px;
    }
    .contentCreatorName {
        font-size: 20px;
    }
    .videoArea {
        margin: 0 auto;
        width: 340px;
        height: 190px;
    }
}