.contentCreatorsMainDiv {
    margin: 0 auto;
    width: 80vw;
    text-align: center;
}

.creators-header {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 0;
}

.contentCreator {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    align-items: center;
    margin: 5px;
    width: 35vw;
}

.contentCreatorName {
    font-size: 2.5vw;
    margin-bottom: 5px;
}

.videoArea {
    margin: 0 auto;
    width: 35vw;
    height: 20vw;
}

@media (max-width: 1080px) {
    .creators-header { font-size: 6vw; }
    .contentCreator { width: 70vw; }
    .contentCreatorName { font-size: 4vw; }
    .videoArea {
        margin: 0 auto;
        width: 68vw;
        height: 40vw;
    }
}