.articles-main-div {
    margin: 0 auto;
    width: 75vw;
    text-align: center;
}

.articleLink {
    text-decoration: none;
}

.articles-header {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 0;
}

.articles-subheader {
    font-size: 1.5vw;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 0;
}
 /* top right bottom left */

.anArticle {
    display: inline-block;
    margin: 10px;
    max-width: 30vw;
    vertical-align: top;
    text-align: left;
}

.articleTitle {
    margin: 0;
    font-weight: bold;
}

.articleBlurb {
    font-size: 1vw;
}

.articleIMG {
    max-width: 30vw;
}

@media (max-width: 1080px) {
    .articles-header { font-size: 4vw; }
    .articles-subheader { font-size: 2vw; }
    .articleTitle { font-size: 2vw; }
    .articleBlurb { font-size: 1.5vw; }
}

@media (max-width: 580px) {
    .articles-header { font-size: 6vw; }
    .articles-subheader { font-size: 3vw; }
    .articleTitle { font-size: 4.5vw; }
    .articleBlurb { font-size: 3vw; }
    .anArticle { max-width: 60vw; }
    .articleIMG { max-width: 60vw; }
}