.sets-main-div {
    margin: 0 auto;
    width: 1056px;
    align-items: center;
}

.setLink {
    text-decoration: none;
}

.sets-header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 0 0 0 0;
}

.sets-subheader {
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 0 0 0 0;
}
 /* top right bottom left */

.aSet {
    display: inline-block;
    margin: 10px;
    max-width: 244px;
    vertical-align: top;
    text-align: center;
}

.setIMG {
    max-width: 100%;
    margin: 10px, 10px, 5px, 10px,
}

.sets-name {
    margin: 0px;
}

@media (max-width: 1080px) {
    .sets-main-div {
        width: 792px;
    }
}

@media (max-width: 810px) {
    .sets-main-div {
        width: 530px;
    }
}

@media (max-width: 580px) {
    .sets-main-div {
        width: 265px;
    }
}