.sets-main-div {
    margin: 0 auto;
    width: 75vw;
    text-align: center;
}

.setLink {
    text-decoration: none;
}

.sets-header {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 0;
}

.sets-subheader {
    font-size: 1.5vw;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 0;
}
 /* top right bottom left */

.aSet {
    display: inline-block;
    margin: 10px;
    max-width: 13vw;
    vertical-align: top;
    text-align: center;
}

.setIMG {
    max-width: 100%;
    margin: 10px, 10px, 5px, 10px,
}

.sets-name {
    margin: 0px;
}

@media (max-width: 1080px) {
    .aSet { max-width: 20vw; }
    .sets-header { font-size: 4vw; }
    .sets-subheader { font-size: 2vw; }
}

@media (max-width: 580px) {
    .aSet { max-width: 30vw; }
    .sets-header { font-size: 6vw; }
    .sets-subheader { font-size: 3vw; }
}