.header-bar {
    background-color: black;
    color: rgb(117, 117, 117);
    display: flex;
    align-items: center;
    height: 3em;
}
  
.header-bar a:hover {
    color: rgb(255, 0, 0);
    border-bottom: 5px solid rgb(255, 0, 0);
}
  
.header-bar a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    transition: 0.35s ease-in-out;
}

.navBarLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

#threeLines, .mobileNav {
    max-height: 1em;
    padding-right: 8px;
}

#logoPNG {
    max-height: 1.8em;
    margin: 0 10px;
}

.mobileNav {
    display: none;
}

@media screen and (max-width:860px) {
    .navBarLinks {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: fixed;
        top: 3em;
        right: -1300px;
        width: 300px;
        height: 100vh;
        background-color: black;
        padding: 0 10px;
    }

    .navBarLinks a {
        margin-bottom: 25px;
    }

    .active {
        right: 0px;
    }

    .mobileNav {
        display: block;
        margin-left: auto;
    }

}