.header-bar {
    background-color: black;
    color: rgb(117, 117, 117);
    display: flex;
    align-items: center;
    justify-content: right;
    height: 3em;
    font-size: 2vw;
}

.logoNavItem {
    left: 0;
    position: absolute;
}
  
.navBarLinks a:hover {
    color: rgb(255, 0, 0);
    border-bottom: 5px solid rgb(255, 0, 0);
}
  
.navBarLinks a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.35s ease-in-out;
}

.navBarLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

#threeLines, .mobileNav {
    max-height: 1em;
    padding-right: 8px;
}

#logoPNG {
    height: 2.5em;
    margin: auto 20px auto 10px;
}

.mobileNav {
    display: none;
}

@media (min-width: 961px) {
    .header-bar {
        font-size: 1.5vw;
    }
}

@media screen and (max-width:911px) {
    .header-bar { height: 5em; font-size: 4vw; }

    .navBarLinks {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: fixed;
        top: 5em;
        right: -1300px;
        width: 300px;
        height: 100vh;
        background-color: black;
        padding: 0 10px;
    }

    .navBarLinks a {
        margin-bottom: 25px;
    }

    .navItem {
        font-size: 4vw;
    }

    .active {
        right: 0px;
        z-index: 2;
    }

    .mobileNav {
        display: block;
        margin-left: auto;
    }

}