/* Start of Overall App Stuff */
html {
  background-color: #1b181d;
  text-align: center;
}

.App {
  height: auto !important;
  min-height: calc(100vh - 12vh);
  font-size: 1.7vw;
  /* margin-bottom: 20px; */
  color: #fff;
  padding: 0 0 12vh;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1b181d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a { color: #fff; }
a:hover, a:active { text-decoration: none; color:grey }

.scrollTopDiv {
  display: flex;
  position: fixed;
  right: 5px; bottom: 5px;
  width: 50px; height: 50px;
}

.scrollTopButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; height: 50px;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  border-color: red;
  border-width: 4px; border-radius: 9999px;
  color: red;
  padding-bottom: 8px;
}

/* End of Overall App Stuff */

/* Toggle Section */
.toggleText, .toggleDarkMode {
  font-weight: bold;
  max-width: 65vw;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 1326px) {
  .toggleText {
    max-width: 1000px;
    margin: 5px 0px 0px 10px;
  }
}

@media (max-width: 385px) {
  
}

/* Lightbox Section */
#lightbox {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 38, 58, 0.52);
  display: flex;
  align-items: center;
}

#lightbox-img {
  margin: 0 auto;
  max-width: 90vw;
  max-height: 60vh;
}

@media (max-width: 1000px) {
  .toggleText { max-width: 750px; }
}

/* Start of Card Image Section */
.flexCardImgs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 75vw;
  margin: 10px auto;
}

.cardImg { width: 13vw; height: auto; }
.cardImgBox { width: 13vw; margin: 2px; }
.text-row-small { font-size: 2vw; }
.cardImgSmall { width: 12vw; height: auto; }
.cardImgBoxSmall { width: 12vw; margin: 2px; text-align: center }

.centerText { 
  margin: auto; 
  text-align: center; 
  font-size: 1.7vw; 
  width: 13vw; 
}

@media (max-width: 1921px) {
  .centerText, .text-row { font-size: 1.3vw; }
}

@media (max-width: 1080px) {
  .centerText { font-size: 2.5vw; }
  .cardImg, .cardImgBox, .centerText { width: 23vw; }
  .cardImgSmall, .cardImgBoxSmall { width: 16vw; }
}

@media (max-width: 580px) {
  .toggleText { max-width: 360px; margin-left: 10px; margin-top: 5px; }
  .App { font-size: 3vw; }
}
/* End of Card Image Section */