.homepage-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 75vw;
    text-align: center;
    padding-bottom: 30px;
}

.homepage-header {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 10px;
}

@media (max-width: 1080px) {
    .homepage-header { font-size: 4vw; }
}

@media (max-width: 580px) {
    .homepage-header { font-size: 6vw; }
}